<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>  
        <header>
            <h1>Sentiment analysis for your text!!</h1>
        </header>
        <main>
            <section class="form-section">
                <form class="" onsubmit="return handleSubmit(event)">
                    <textarea id="text" type="text" name="input" value="" placeholder="Your text"></textarea>
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="results">
                <div class="results-header">
                    <strong>Text results:</strong>
                </div>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Abanoub Magdy &copy;2021</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>
